<w-row class="{{#if hasOrder}}active{{/if}} {{#unless inRange}}no-market-price{{/unless}}"
       data-price="{{priceNum}}"
       data-type="{{type}}"
       data-amount="{{totalAmountNum}}">
    <div class="tooltip-dex">
        <span class="tooltip-ask" w-i18n="orderbook.ask.tooltipText">{{buyTooltip}}</span>
        <span class="tooltip-bid" w-i18n="orderbook.bid.tooltipText">{{sellTooltip}}</span>
    </div>
    <div class="table-row">
        <div class="dex-layout__line-graph">
            <div style="width: {{{width}}}%" class="dex-layout__line-graph-fill"></div>
        </div>
        <w-cell class="cell-0">
            <div class="table-cell">{{{amount}}}</div>
        </w-cell>
        <w-cell class="cell-1">
            <div class="table-cell">{{{price}}}</div>
        </w-cell>
        <w-cell class="cell-2">
            <div class="table-cell">{{{total}}}</div>
        </w-cell>
    </div>
</w-row>
