<w-row class="{{#if hasOrder}}active{{/if}} {{#unless inRange}}no-market-price{{/unless}}"
       data-price="{{priceNum}}"
       data-type="{{type}}"
       data-amount="{{totalAmountNum}}">
    <!-- todo @tsigel - add params -->
    <div class="tooltip-dex">
        <span class="tooltip-ask" w-i18n="orderbook.ask.tooltipText" params="">Buy Waves for {{0.00291234 BTC}} </span>
        <span class="tooltip-bid" w-i18n="orderbook.bid.tooltipText" params="">Sell Waves for ({0.00283333 BTC})</span>
    </div>
    <div class="table-row">
        <div class="dex-layout__line-graph">
            <div style="width: {{{width}}}%" class="dex-layout__line-graph-fill"></div>
        </div>
        <w-cell class="cell-0">
            <div class="table-cell">{{{amount}}}</div>
        </w-cell>
        <w-cell class="cell-1">
            <div class="table-cell">{{{price}}}</div>
        </w-cell>
        <w-cell class="cell-2">
            <div class="table-cell">{{{total}}}</div>
        </w-cell>
    </div>
</w-row>
