<div class="smart-table__name smart-table__cell" data-column-id="name">
    <div class="cell {{SELECTORS.SPONSORED}}">
        {{#if assetIconPath}}
            <div class="asset__logo margin-right-1 footnote-3"
                 style="width: 30px; height: 30px; background-image: url({{assetIconPath}});">
            </div>
        {{else}}
            <div class="asset__logo margin-right-1 footnote-3"
                 style="width: 30px; height: 30px; background-color: {{charColor}}; font-size: 13px;">{{firstAssetChar}}
                <div class="marker" style="background-color: {{charColor}}"></div>
            </div>
        {{/if}}
        <div class="asset-name-desktop asset__wrapper">
            <div>{{assetName}}</div>
            {{#if isVerified}}
                <span class="asset__label" w-i18n-literal="qualified"></span>
            {{/if}}
            {{#if isGateway}}
                <span class="asset__label" w-i18n-literal="gateway"></span>
            {{/if}}
        </div>
    </div>
</div>
<div class="smart-table__available smart-table__cell" data-column-id="balance">
    <div class="cell">
        <div class="asset-wrapper mobiles-only">
            <div>
                <span class="basic-500 footnote-3">{{assetName}}</span>
            </div>
            {{#if isVerified}}
                <span class="asset__label" w-i18n-literal="qualified"></span>
            {{/if}}
        </div>
        <span class="{{SELECTORS.AVAILABLE}}"></span>
    </div>
</div>
<div class="smart-table__in-orders smart-table__cell" data-column-id="inOrders">
    <div class="cell">
        <span class="{{SELECTORS.IN_ORDERS}}"></span>
    </div>
</div>
<div class="smart-table__available-value smart-table__cell" data-column-id="mirror">
    <div class="cell">
        <span class="{{SELECTORS.BASE_ASSET_BALANCE}}"></span>
    </div>
</div>
<div class="smart-table__chart-wrap smart-table__cell" data-column-id="rate">
    <div class="cell">
        <span class="{{SELECTORS.EXCHANGE_RATE}}"></span>
        <div class="{{SELECTORS.CHART_CONTAINER}} chart-asset-rate"></div>
    </div>
</div>
<div class="smart-table__change smart-table__cell" data-column-id="change24">
    <div class="cell">
        <span class="{{SELECTORS.CHANGE_24}}"></span>
    </div>
</div>
<div class="smart-table__control-cell smart-table__cell" data-column-id="controls">
    <div class="cell">
        <span class="icon icon-send {{SELECTORS.BUTTONS.SEND}}" role="button" tabindex="0">
               <svg width="17px" height="14px" viewBox="0 0 15 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                   <path
                           d="M15.7261538,5.95734828 L15.7261538,5.95734828 C15.9214159,6.15261042 15.9214159,6.46919291 15.7261538,6.66445506 L8.50013244,13.8904765 L1.3118034,6.70753193 C1.1164681,6.51234296 1.11634949,6.19576049 1.31153846,6.0004252 L1.31153846,6.0004252 C1.50672743,5.80508991 1.8233099,5.8049713 2.01864519,6.00016027 L8.49986756,12.4765278 L15.019047,5.95734828 C15.2143092,5.76208613 15.5308917,5.76208613 15.7261538,5.95734828 Z"
                           id="Shape-Copy-2"
                           transform="translate(8.518912, 9.747136) scale(-1, 1) rotate(-180.000000) translate(-8.518912, -9.747136) "></path>
                   <path
                           d="M8.49986756,7.47652778 L15.019047,0.957348251 C15.2143092,0.762086104 15.5308917,0.762086102 15.7261538,0.957348247 L15.7261538,0.957348247 C15.9214159,1.15261039 15.9214159,1.46919288 15.7261538,1.66445503 L8.50013244,8.89047647 L1.31180339,1.70753191 C1.1164681,1.51234293 1.11634949,1.19576047 1.31153846,1.00042518 L1.31153846,1.00042518 C1.50672744,0.805089886 1.8233099,0.804971272 2.01864519,1.00016024 L8.49986756,7.47652778 Z"
                           id="Shape-Copy-3"
                           transform="translate(8.518912, 4.747136) scale(-1, 1) rotate(-180.000000) translate(-8.518912, -4.747136) "></path>
               </svg>
            <span w-i18n-literal="send"></span>
        </span>
        <span class="icon icon-receive {{SELECTORS.BUTTONS.RECEIVE}}" role="button" tabindex="0">
               <svg width="17px" height="14px" viewBox="0 0 15 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                   <path
                           d="M15.7261538,5.95734828 L15.7261538,5.95734828 C15.9214159,6.15261042 15.9214159,6.46919291 15.7261538,6.66445506 L8.50013244,13.8904765 L1.3118034,6.70753193 C1.1164681,6.51234296 1.11634949,6.19576049 1.31153846,6.0004252 L1.31153846,6.0004252 C1.50672743,5.80508991 1.8233099,5.8049713 2.01864519,6.00016027 L8.49986756,12.4765278 L15.019047,5.95734828 C15.2143092,5.76208613 15.5308917,5.76208613 15.7261538,5.95734828 Z"
                           id="Shape-Copy-2"
                           transform="translate(8.518912, 9.747136) scale(-1, 1) rotate(-180.000000) translate(-8.518912, -9.747136) "></path>
                   <path
                           d="M8.49986756,7.47652778 L15.019047,0.957348251 C15.2143092,0.762086104 15.5308917,0.762086102 15.7261538,0.957348247 L15.7261538,0.957348247 C15.9214159,1.15261039 15.9214159,1.46919288 15.7261538,1.66445503 L8.50013244,8.89047647 L1.31180339,1.70753191 C1.1164681,1.51234293 1.11634949,1.19576047 1.31153846,1.00042518 L1.31153846,1.00042518 C1.50672744,0.805089886 1.8233099,0.804971272 2.01864519,1.00016024 L8.49986756,7.47652778 Z"
                           id="Shape-Copy-3"
                           transform="translate(8.518912, 4.747136) scale(-1, 1) rotate(-180.000000) translate(-8.518912, -4.747136) "></path>
               </svg>
            <span w-i18n-literal="receive"></span>
        </span>
        {{#if canShowDex}}
            <span class="icon icon-dex {{SELECTORS.BUTTONS.DEX}}" role="button" tabindex="0">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path
                            d="M2 6.48v5.68h2.48V6.48H2zm.75-1V2a.5.5 0 0 1 1 0v3.48h.73a1 1 0 0 1 1 1v5.68a1 1 0 0 1-1 1h-.73V16a.5.5 0 1 1-1 0v-2.84H2a1 1 0 0 1-1-1V6.48a1 1 0 0 1 1-1h.75zM7.76 4.56v3.12h2.48V4.56H7.76zm.74-1V1.5a.5.5 0 0 1 1 0v2.06h.74a1 1 0 0 1 1 1v3.12a1 1 0 0 1-1 1H9.5v1.82a.5.5 0 0 1-1 0V8.68h-.74a1 1 0 0 1-1-1V4.56a1 1 0 0 1 1-1h.74zM13.52 4.56v6.32H16V4.56h-2.48zm.73-1V1.5a.5.5 0 1 1 1 0v2.06H16a1 1 0 0 1 1 1v6.32a1 1 0 0 1-1 1h-.75v3.62a.5.5 0 1 1-1 0v-3.62h-.73a1 1 0 0 1-1-1V4.56a1 1 0 0 1 1-1h.73z"/>
                </svg>
                <span w-i18n-literal="dex"></span>
            </span>
        {{/if}}
        {{#if canShowToggleSpam}}
            <span class="icon spam-icons {{SELECTORS.BUTTONS.TOGGLE_SPAM}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path fill-rule="nonzero"
                          d="M15.581 2.956L3.206 15.331a.544.544 0 0 1-.787 0 .544.544 0 0 1 0-.787L14.794 2.169a.544.544 0 0 1 .787 0 .544.544 0 0 1 0 .787zM5.625 8.75c0 .31.056.59.112.872L6.75 8.609a2.238 2.238 0 0 1 2.081-2.08l1.013-1.013a2.967 2.967 0 0 0-.872-.113c-1.828-.028-3.347 1.49-3.347 3.347zm3.516 2.222l-1.013 1.012c.281.085.563.113.872.113a3.385 3.385 0 0 0 3.375-3.375c0-.31-.056-.59-.113-.872L11.25 8.863c-.084 1.153-.984 2.053-2.11 2.109zm-5.232.478c-1.04-.703-1.968-1.603-2.671-2.7A9.214 9.214 0 0 1 9 4.531c.563 0 1.125.057 1.688.14l.956-.955a10.108 10.108 0 0 0-2.616-.338c-3.684 0-7.031 1.885-8.915 5.063a.558.558 0 0 0 0 .59c.787 1.322 1.828 2.39 3.009 3.235l.787-.816zm14.007-2.981c-.788-1.322-1.829-2.39-3.01-3.235l-.815.816c1.04.703 1.968 1.603 2.671 2.7A9.178 9.178 0 0 1 9 12.969c-.563 0-1.125-.056-1.688-.14l-.956.955c.844.225 1.716.338 2.616.338 3.684 0 7.031-1.884 8.915-5.063a.51.51 0 0 0 .029-.59z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path fill-rule="nonzero"
                          d="M9 5.619a3.385 3.385 0 0 0-3.375 3.375A3.385 3.385 0 0 0 9 12.369a3.385 3.385 0 0 0 3.375-3.375A3.385 3.385 0 0 0 9 5.619zm0 5.625a2.257 2.257 0 0 1-2.25-2.25A2.257 2.257 0 0 1 9 6.744a2.257 2.257 0 0 1 2.25 2.25A2.257 2.257 0 0 1 9 11.244zm8.916-2.532C16.03 5.534 12.684 3.65 9 3.65S1.969 5.534.084 8.712a.558.558 0 0 0 0 .591C1.97 12.453 5.316 14.337 9 14.337s7.031-1.884 8.916-5.062a.51.51 0 0 0 0-.563zM9 13.212a9.178 9.178 0 0 1-7.763-4.218A9.214 9.214 0 0 1 9 4.775a9.214 9.214 0 0 1 7.762 4.219A9.178 9.178 0 0 1 9 13.212z"/>
                </svg>
                <span w-i18n-literal="tospam" class="tospam"></span>
                <span w-i18n-literal="unspam" class="unspam"></span>
            </span>
        {{/if}}

        <div class="w-actions">
            <div class="actions-wrapper">
                <div class="click-area" role="button" tabindex="0">
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <div class="actions-container">

                        <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.ASSET_INFO}}"
                             role="button" tabindex="0">
                            <span w-i18n-literal="info"></span>
                        </div>

                        <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.SEND}}"
                             role="button" tabindex="0">
                            <span w-i18n-literal="send"></span>
                        </div>

                        <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.RECEIVE}}"
                             role="button" tabindex="0">
                            <span w-i18n-literal="receive"></span>
                        </div>

                        {{#if canBurn}}
                            <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.BURN}}"
                                 role="button" tabindex="0">
                                <span w-i18n-literal="burn"></span>
                            </div>
                        {{/if}}

                        {{#if canReissue}}
                            <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.REISSUE}}"
                                 role="button" tabindex="0">
                                <span w-i18n-literal="reissue"></span>
                            </div>
                        {{/if}}

                        <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.SPONSORSHIP_CREATE}}"
                             role="button" tabindex="0">
                            <span w-i18n-literal="sponsorship"></span>
                        </div>

                        <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.SPONSORSHIP_EDIT}}"
                             role="button" tabindex="0">
                            <span w-i18n-literal="sponsorshipChange"></span>
                        </div>

                        <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.SPONSORSHIP_STOP}}"
                             role="button" tabindex="0">
                            <span w-i18n-literal="sponsorshipStop"></span>
                        </div>

                        {{#if canShowDex}}
                            <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.DEX}}"
                                 role="button" tabindex="0">
                                <span w-i18n-literal="dex"></span>
                            </div>
                        {{/if}}

                        {{#if canShowToggleSpam}}
                            <div class="action disabled-900 body-2 {{SELECTORS.ACTION_BUTTONS.TOGGLE_SPAM}}"
                                 role="button" tabindex="0">
                                <span w-i18n-literal="tospam" class="tospam"></span>
                                <span w-i18n-literal="unspam" class="unspam"></span>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
